# Ignore compiled binaries / executable files
*.out
*.exe
*.o

# Ignore VS Code internal settings
.vscode/

# Ignore OS junk files
.DS_Store
# Ignore Linux/WSL compiled binary files (files without extension)
day*
!day*.c